
<!DOCTYPE html>
<html>
<head>
    <link href="~/estilos.css" rel="stylesheet" />
    <title>
        Razas de Perros
    </title>
</head>
<body>
    <header>
        <h1><a href="index.html">Razas de Perros</a></h1>
    </header>
    @RenderBody()
    <footer>
        Razas de Perros - Ejercicio de Programación Web
    </footer>
    </body>
    </html>