@model IEnumerable<Unidad2Tarea.Models.ViewModels.PaisViewModel>


@{
    Layout = "Layout";
}
<main class="main">

    <section class="nav">
        <h3>Razas por país</h3>
        <nav>
            <a href="~/Home">Listado Alfabético de Razas</a>
        </nav>
    </section>

    <section class="list">
        @foreach(var p in Model)
        {         
        <h4>@p.Nombre</h4>
        <ul>
            @foreach(var N in p.Razas)
                {
                <li>
                <a href="~/Home/Caracteristicas/@(N.Nombre)">
                    <img src="~/imgs_perros/@(N.Id)_0.jpg" />
                    @N.Nombre
                </a>
            </li>
                }

        </ul>
        }
    </section>
</main>